@page "/about"

    <div class="pb-2">
      <div class="container">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-center">About MentalHealth</h4>
            <p class="card-text">
                Mental health professions in many countries are not enough.
                Very few mental health patients are taken care of because of 
                the few number of psychiatrists and clinics available. 
                Patients with appointments wait for a long time, 
                and this can impact those patients who are in crisis.
                Some patients also have to travel to travel long distances, 
                hence causing discouragng those who lack access to reliable 
                transportable or those who cannot afford to pay fare. 
                Some patients fear to access mental health care because they worry about what 
                others will think of them. Others also fail to seek therapy 
                because they are afraid to reveal personal things about themselves.
                <br />
                Mental health sessions are also costly and many people cannot afford to pay
                for them since they are low income earners or solely depend on others to
                provide for their needs.
            </p>
            <p class="card-text">
                This website aims to solve thi by providing a flexible strategy to be used by anyone.
                There is no physical meeting involved, services are accesible at any time,
                patients benefit from privacy, and the cost is affordable by the majotity.
            </p>
            <a href="therapists" class="btn btn-primary">Contact a therapist &gt;&gt;</a>
          </div>
        </div>
      </div>
    </div>

@code {

}
