@page "/"

<div class="bg-white pb-2"
     style="
        background-image: url('icon-512.png');
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: contain;
      ">
    <div class="jumbotron">
        <h3 class="text-center">Welcome to MentalHealth website</h3>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <p class="text-center">
                    This website aims at delivering a mental heath platform in a
                    simplified and convenient way to the end users.
                    <a href="about">Read more ...</a>
                    <br />
                    Express your your mental problems without any physical meeting at
                    any time, at an affordabe price.
                </p>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">My Anxiety</h4>
                <p class="card-text">What are you experiencing?</p>
                <div class="card-text">
                    <a href="signsofanxiety" class="btn btn-primary mb-2">Signs of anxiety</a>
                    <a href="quicktips" class="btn btn-primary mb-2">Quick tips</a>
                    <a href="quickrelief" class="btn btn-primary mb-2">Quick relief</a>
                </div>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-secondary">General worry</h3>
                <h4 class="card-title text-primary">Intro</h4>
                <p class="card-text">
                    Most of people worry once in a while, this constant build up
                    negative heads and assuming the worst is going to happen. Worry
                    become a problem when it's to shut off and leaves people telling
                    anxious, overwhelmed or exhausted and it get in the way of life.
                    Check out the following to see what your worry is
                </p>
                <h4 class="card-title text-primary">School/ work</h4>
                <p class="card-text">
                    Concerning about doing well in tests, work, performance, getting
                    things done, making mistakes, participating in class or meeting
                    and failing or getting fired.
                </p>
                <h4 class="card-title text-primary">Relationship/ family</h4>
                <p class="card-text">
                    Concern about making and keeping friends getting along with others
                    and dating and the wellbeing of friends and family.
                </p>
                <h4 class="card-title text-primary">Health/ safety</h4>
                <p class="card-text">
                    Concern of being sick or getting a serious illness or disease or
                    getting hurt or being harmed.
                </p>
                <h4 class="card-title text-primary">Finance and money</h4>
                <p class="card-text">
                    Concern about the ability to pay bill, to stay out of debt to
                    afford things or having enough money set aside for the future.
                </p>
                <h4 class="card-title text-primary">Environment/ world</h4>
                <p class="card-text">
                    Concern about natural disaster global warming, world affair war
                    and other world event
                </p>
                <h4 class="card-title text-primary">Minor things</h4>
                <p class="card-text">
                    Concern about minor things like being late losing or forgetting
                    things and making the wrong decision about minor things.
                </p>
                <a href="therapists" class="btn btn-primary">Contact a therapist &gt;&gt;</a>
            </div>
        </div>
    </div>
</div>
@code {

}
