@page "/"

<div class="pb-2">
    <div class="jumbotron">
        <h3 class="text-center">Welcome to MentalHealth website</h3>
    </div>
    <div class="card">
        <div class="card-body">
            <p>
                This website aims at delivering a mental heath platform in a
                simplified and convenient way to the end users.
                <a href="about">Read more ...</a>
                <br />
                Express your your mental problems without any physical meeting at
                any time, at an affordabe price.
            </p>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Learn</h4>
            <p class="card-text">Usefull information about anxiety</p>
            <a href="myanxiety" class="stretched-link">Read more...</a>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">My Anxiety</h4>
            <p class="card-text">What are you experiencing?</p>
            <a href="myanxiety" class="stretched-link">Read more...</a>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Quick Tips</h4>
            <p class="card-text">Quick tips to help you with anxiety</p>
            <a href="myanxiety" class="stretched-link">Read more...</a>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">            
            <a href="therapists" class="btn btn-primary">Contact a therapist &gt;&gt;</a>
        </div>
    </div>
</div>

@code {

}
