@page "/location-help"
    <div class="m2">
        <h3>Get Latitude and Longitude</h3>
        <p>
            You need to get the latitude and longitude of your desired location.
            Follow the below steps to get the latitude and longitude from the Google Map.
        </p>
        <ul class="list-group">
            <li>Visit the <a href="https://www.google.com/maps" target="_blank">Google Maps website</a>.</li>
            <li>
                Enter your desired location and search.
                <div>
                    <img loading="lazy" class="img-fluid" src="search-location-google-map.png" alt="search-location-google-map">
                </div>
            </li>
            <li>
                Mark the exact location on Google Map. A marker will appear on your marked location and also a dialog box will appear at the bottom of the map.
                <div>
                    <img loading="lazy" class="img-fluid" src="google-map-location-box-address-latitude-longitude.png" alt="google-map-location-box-address-latitude-longitude">
                </div>
            </li>
            <li>
                In this dialog box, you’ll see the details address, latitude, and longitude. Collect the <b>latitude</b> and <b>longitude</b> from the bottom of the dialog box.
                <div>
                    <img loading="lazy" class="img-fluid" src="google-map-address-latitude-longitude.png" alt="google-map-address-latitude-longitude">
                </div>
            </li>
        </ul>
        <p>Copy the first value before the comma to latitude and the last value to longitude.</p>

    </div>

    @code {

    }
