@page "/myanxiety"

<div class="card">
    <div class="card-body">
        <h3 class="card-title">My Anxiety</h3>
    </div>
</div>
<br />
<div class="card">
    <div class="card-body">
        <h4 class="card-title">General Worry</h4>
        <div class="card-text">
            Most of people worry once in a while, this constant build up
            negative heads and assuming the worst is going to happen.
            <a href="myanxiety/generalworry" class="stretched-link">Read more...</a>
        </div>
    </div>
</div>

<br />

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Social Anxiety</h4>
        <div class="card-text">
            Most people get anxious in some social situations,
            like before a job interview or when giving a speech.
            <a href="myanxiety/socialanxiety" class="stretched-link">Read more...</a>
        </div>
    </div>
</div>

<br />

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Perfectionism</h4>
        <div class="card-text">
            Some people set excessively high standards that are impossible to meet
            or that can only be met at a great cost.
            <a href="myanxiety/perfectionism" class="stretched-link">Read more...</a>
        </div>
    </div>
</div>

<br />

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Panic</h4>
        <div class="card-text">
            Panic attacks are sudden and intense rushes of fear marked by strong sensations
            (e.g. pounding heart, difficulty breathing, dizziness).
            <a href="myanxiety/panic" class="stretched-link">Read more...</a>
        </div>
    </div>
</div>

@code {

}
