@page "/myanxiety/perfectionism"

    <div class="card">
        <div class="card-body">

            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#intro">Intro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#signs">Signs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#tips">Tips</a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="intro" class="container tab-pane active">
                    <h3 class="text-secondary">Perfectionism</h3>
                    <p>
                        Some people set excessively high standards that are impossible to meet
                        or that can only be met at a great cost. Perfectionists believe things need to be perfect,
                        are overly critical of making mistake, and find anything short of perfection as unacceptable.
                        Perfectionism plays a role in fueling worry and anxiety.
                        If things need to be perfect, there’s lots to be worried and anxious about.
                        If you’re setting unreasonable expectations and being overly hard on yourself, perfectionism may be an issue.
                        <br />
                        <b>Check out the life areas below to see where perfectionism might be a problem for you:</b>
                    </p>
                    <h4 class="text-primary">Work</h4>
                    <p>
                        Believing you must always be perfect and perform at your best at work.
                        Seeing anything less than perfect as a failure.
                    </p>
                    <h4 class="text-primary">School</h4>
                    <p>
                        Expecting perfect grades. Being afraid to make mistakes
                        and striving for school work to be completed correctly and flawlessly.
                    </p>
                    <h4 class="text-primary">Social Situations</h4>
                    <p>
                        Believing you always need to be articulate and express yourself perfectly. 
                        Being afraid to make mistakes in your interactions with others.
                    </p>
                    <h4 class="text-primary">Physical Appearance</h4>
                    <p>
                        Being overly concerned about your appearance and 
                        spending an excessive amount of time trying to look perfect (e.g. clothes, hair, make-up).
                    </p>
                    <h4 class="text-primary">Cleanliness/Organization</h4>
                    <p>
                        Believing your room or home needs to be perfectly clean and organized, 
                        and trying to make everything look "just right".
                    </p>
                    <h4 class="text-primary">Other</h4>
                    <p>
                        Being afraid to do anything new or challenging because you may not be good at it.
                        Not being open to feedback.
                    </p>

                    <a href="therapists" class="btn btn-primary">Contact a therapist &gt;&gt;</a>
                </div>

                <div id="signs" class="container tab-pane fade">
                    <Signs />
                </div>

                <div id="tips" class="container tab-pane fade">
                    <Tips />
                </div>
            </div>
        </div>
    </div>

    @code {

    }
