@page "/quicktips"

    <div id="accordion">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Quick tips to help you with anxiety</h3>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#general">
                    General worry tips
                </a>
            </div>
            <div id="general" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                    <div class="card-text">
                        Here are <b>10 key strategies</b> for managing problematic
                        worry:
                    </div>
                    <ol>
                        <li>Check in with yourself</li>
                        <li>Recognize and avoid common thinking traps</li>
                        <li>Learn to develop more balanced thoughts</li>
                        <li>
                            Identify key copying statements to help ride out worries
                        </li>
                        <li>Test out your beliefs about uncertainity</li>
                        <li>Dial down the physical symptoms of anxiety</li>
                        <li>Learn to face uncertainity head on</li>
                        <li>
                            Stop avoiding uncertainity and get out of your comfort zone
                        </li>
                        <li>Take care of yourself</li>
                        <li>Get help when needed</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link"
                   data-toggle="collapse"
                   href="#anxietyDef">
                    What is anxiety?
                </a>
            </div>
            <div id="anxietyDef" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Anxiety is our body's reaction to perceived danger or important
                    events. Anxiety is liker an internal alarm system. It alerts us
                    to danger and helps our body prepare to deal with it. For
                    example, it allows us to jump out of the way of a speeding car.
                    It also helps us to perform at our best, like when you are
                    studying for that final exam. Anxiety is something that everyone
                    experienses from time to time.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link"
                   data-toggle="collapse"
                   href="#anxiousWhen">
                    What's going on when i'm anxious?
                </a>
            </div>
            <div id="anxiousWhen" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    When we're anxious it affects our thoughts, body, and
                    behaviours. When faced withreal danger, you will have worrisome
                    thoughts focused on the danger, your body will rev up to help
                    you deal with the danger and you will take action either to get
                    away from or fight the danger. So, anxiety protects you - it's
                    how we've evolved and stayed alive as a species. Without anxiety
                    we would be extinct!
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link"
                   data-toggle="collapse"
                   href="#anxietyTri">
                    The Anxiety Triangle
                </a>
            </div>
            <div id="anxietyTri" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    When we're anxious, it affects our thoughts, body, and
                    behaviours. For example, imagin that you're out walking your
                    dog, and a skunk pops out of the bushes. You will have thoughts
                    about the skunk such as, "What if it sparay us?" Your body will
                    also react (pupils dilate, heart beats faster muscles tense up)
                    and you'll probably try to run away.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link"
                   data-toggle="collapse"
                   href="#response">
                    What is the &quot;fight-flight-freeze&quot; response
                </a>
            </div>
            <div id="response" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <div class="card-text">
                        Anxiety triggers omething called the
                        &quot;fight-flight-freeze&quot; response. This automatic
                        response helps you cope with danger. For example, you may yell
                        at your mom for pushing you to take your driving test when you
                        feel ready (fight). You may avoid going to a party or leave
                        early because you feel uncomforatble around people you don't
                        know (flight). Or, you may freeze and hope the danger doesn't
                        notice you, like when your mind goes blank when the teacher
                        asks you a question.
                        <br />
                        <br />
                        This fight-flight-freeze thing is pretty cool. It's like
                        having superhero powers that you can activate when you need to
                        protect yourself.
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link"
                   data-toggle="collapse"
                   href="#anxietyProb">
                    When does anxiety become a problem?
                </a>
            </div>
            <div id="anxietyProb" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Anxiety can become a problem when...
                    <ul>
                        <li>
                            Anxiety goes off when there is no real danger (such as a
                            smoke alarm going off when your just making toast).
                        </li>
                        <li>Anxiety happens alot.</li>
                        <li>Anxiety feels pretty intense.</li>
                        <li>
                            Anxiety stops you from doing fun and important things that
                            you want to do (like going to school dances or parties,
                            making friends or dating, getting your homework done, or
                            getting a job or your driver's licence).
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link"
                   data-toggle="collapse"
                   href="#anxietyFrom">
                    Where does anxiety come from?
                </a>
            </div>
            <div id="anxietyFrom" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    Anxiety problems can develop in a couple of different ways:
                    genetics and life experiences.
                    <br />
                    <h4 class="card-title">Genetics</h4>
                    <p class="card-text">
                        Anxiety problems can be passed on genetically. If someone i
                        your immediate or extended family, like your mom, dad, grandma
                        or uncle has had problems withanxiety, then you might be more
                        likely to develop an anxiety problem.
                    </p>
                    <h4 class="card-title">Life Experiences</h4>
                    <p class="card-text">
                        Certain life events or experiences can make us more likely to
                        develop problems with anxiety.
                    </p>
                    <p class="card-text">
                        <b>
                            For example, getting teased or bullied when you're
                            younger
                        </b>
                        can make you more uncomfortable talking to new people when
                        you're older.
                    </p>
                    <p class="card-text">
                        <b>Having a bad experience at the dentist</b>
                        can make you more likely to fear going to the dentist in the
                        future
                    </p>
                    <p class="card-text">
                        <b>Things at home may not be so great.</b>
                        Mom and dad might be fighting a lot. They might be very
                        critical of yo or put a lot of of pressure on you to do well
                        at school.
                    </p>
                    <p class="card-text">
                        <b>Sometimes we may witness things that make us anxious.</b>
                        For example, eeing someone almost drown might make you super
                        scared of water.
                    </p>
                    <p class="card-text">
                        <b>
                            A parent who warned you about all the possible dangers in
                            the workd may have made you feel like the world is a really
                            scary place and that there is lots to worry about.
                        </b>
                        For example, eeing someone almost drown might make you super
                        scared of water.
                    </p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link"
                   data-toggle="collapse"
                   href="#anxietyDo">
                    What can I do about anxiety?
                </a>
            </div>
            <div id="anxietyDo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    MentalHealth can help you change how you think about anxiety.
                    Rather than trying to avoid it, you can make an important shift
                    and face it.
                    <br />
                    <br />
                    MentalHealth will help you learn how to relax, develop more
                    helpful ways of thinking and identify active steps that will
                    help you take charge of your anxiety.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link"
                   data-toggle="collapse"
                   href="#afraid">
                    Why not stay away from things you're afraid of?
                </a>
            </div>
            <div id="afraid" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <div class="card-text">
                        It's normal to want to avoid things you fear. And it works -
                        in the short run. The problem is that yo don't get the
                        opportunity to learn that the things you fear are not always
                        as dangerous as you think.
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link"
                   data-toggle="collapse"
                   href="#fear">
                    How can I overcome my fear?
                </a>
            </div>
            <div id="fear" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    You need to gradually face the things you fear! Theprocessof
                    facing fears is called exposure. Exposure involvesslowly and
                    repeatedly facing things you fear untill you feel less anxious.
                    <br />
                    Starting with less scarythings, you work up towards facing
                    scarier things. This process happens naturally all the time. For
                    example, when you learned to ride a bike you started on a
                    tricycle. Then you rode a bike with training wheels and your mom
                    or dad holding onto the back of the bike. Finally you worked
                    your way p to riding a two-wheel bike on your own. This process
                    also happens when we learn to swim or drive a car.
                </div>
            </div>
        </div>
    </div>

    @code {

    }
