<div>
    <h3 class="text-secondary">Signs of Anxiety</h3>
    <p>
        People with anxiety tend to experience symptoms in the following
        areas.
        <br />
        Body- what we feel Physically or emotionally
        <br />
        Mind-what we think
        <br />
        Behavior- what we do.
    </p>
</div>
<br />
<img class="img-fluid" src="body.png" alt="Body" />
<br />
<br />
<img class="img-fluid" src="mind.png" alt="Body" />
<br />
<br />
<img class="img-fluid" src="behaviours.png" alt="Body" />
<br />
<br />
<a href="therapists" class="btn btn-primary">Contact a therapist &gt;&gt;</a>
@code {

}
