@page "/signsofanxiety"

<div class="card">
    <div class="card-body">
        <div>
            <h3 class="card-title text-secondary">Signs of Anxiety</h3>
            <p class="card-text">
                People with anxiety tend to experience symptoms in the following
                areas.
                <br />
                Body- what we feel Physically or emotionally
                <br />
                Mind-what we think
                <br />
                Behavior- what we do.
            </p>
        </div>
        <br />
        <img class="card-img" src="body.png" alt="Body" />
        <br />
        <br />
        <img class="card-img" src="mind.png" alt="Body" />
        <br />
        <br />
        <img class="card-img" src="behaviours.png" alt="Body" />
        <br />
        <br />
        <a href="therapists" class="btn btn-primary">Contact a therapist &gt;&gt;</a>
    </div>
</div>

@code {

}
