<div>
    Here are <b>10 key strategies</b> for managing problematic worry:
</div>
<ol>
    <li>Check in with yourself</li>
    <li>Recognize and avoid common thinking traps</li>
    <li>Learn to develop more balanced thoughts</li>
    <li>Identify key copying statements to help ride out worries</li>
    <li>Test out your beliefs about uncertainity</li>
    <li>Dial down the physical symptoms of anxiety</li>
    <li>Learn to face uncertainity head on</li>
    <li>Stop avoiding uncertainity and get out of your comfort zone</li>
    <li>Take care of yourself</li>
    <li>Get help when needed</li>
</ol>
@code {

}
