@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar bg-dark topmost">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 bg-dark">
            <a href="learn" class="ml-md-auto">Learn</a>
            <a href="myanxiety" class="ml-md-auto">My Anxiety</a>
            <a href="quicktips" class="ml-md-auto">Quick Tips</a>
            <a href="about" class="ml-md-auto">About</a>
        </div>

        <div class="content">
            @Body
        </div>

        <footer class="pt-2">
            <h6 class="text-center">MentalHealth &copy 2021</h6>
        </footer>

    </div>
</div>
@code{

}